@media only screen and (max-width: 740px) {
    #select {
        margin: 0;
        height: 30vh;
    }
    .logos {
        width: 3.5vw;
        height: 4.5vw;
        margin: 4vw 1.3vw -1.3vw 1.3vw;
    }
    .selected-logo {
        width: 4vw;
        height: 5.3vw;
    }
    #preview {
        left: 5vw;
        top: 20vh;
    }
    .vid {
        width: 90vw;
        height: 50.5vw;
    }
    #globettl {
        top: 4vw;
        font-size: 1.5vw;
    }
    #globe-btn {
        left: 5vw;
        top: 5vw;
    }
    .sub>p {
        margin: 1vw .2vw 0 1vw;
        font-size: 1.3vw;
        text-align: center;
        width: 5vw;
        line-height: 1.4vw;
    }
}

@media only screen and (max-width: 600px) {
    #select {
        height: 40vh;
    }
    .logos {
        width: 4.5vw;
        height: 5.7vw;
        margin: 5vw .8vw -1.3vw .8vw;
    }
    .selected-logo {
        width: 5.2vw;
        height: 7vw;
    }
    .sub>p {
        margin: 1vw .2vw 0 1vw;
        font-size: 1.5vw;
        text-align: center;
        width: 5vw;
        line-height: 1.5vw;
    }
}

@media only screen and (max-width: 590px) {
    #select {
        top: 60vh;
        height: 40vh;
    }
    .logos {
        width: 4.5vw;
        height: 5.7vw;
        margin: 5vw 1.2vw -1.3vw 1.2vw;
    }
    .selected-logo {
        width: 5.2vw;
        height: 7vw;
    }
    #preview {
        top: 10vh;
    }
    #globe {
        width: 5vw;
        height: 5vw;
    }
    #globettl {
        top: 5vh;
        font-size: 2vw;
    }
    #globe-btn {
        width: 5vw;
        height: 7vw;
        left: 47.5vw;
        top: 80vh;
    }
}

@media only screen and (max-width: 510px) {
    #select {
        top: 60vh;
        height: 40vh;
    }
    .logos {
        width: 4.5vw;
        height: 5.7vw;
        margin: 5vw .8vw -1.3vw .8vw;
    }
    .selected-logo {
        width: 5.2vw;
        height: 7vw;
    }
    #globe {
        width: 5vw;
        height: 5vw;
    }
    #globettl {
        top: 5vh;
        font-size: 2vw;
    }
    #globe-btn {
        width: 5vw;
        height: 7vw;
        left: 47.5vw;
        top: 80vh;
    }
    .sub>p {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 420px) {
    #select {
        height: 25vh;
        top: 50vh;
        flex-wrap: wrap;
    }
    .logos {
        width: 7vw;
        height: 8.5vw;
        margin: 0vw 3vw -1.3vw 3vw;
    }
    .selected-logo {
        width: 9vw;
        height: 11.5vw;
    }
    #preview {
        bottom: 20vh;
    }
    #globe {
        width: 6vw;
        height: 6vw;
    }
    #globettl {
        top: 4vh;
        font-size: 3vw;
    }
    #globe-btn {
        width: 6vw;
        height: 9vw;
        left: 47.5vw;
        top: 80vh;
    }
    .sub>p {
        margin: 1vw 0 0 3vw;
        font-size: 2vw;
        width: 7vw;
        line-height: 2vw;
    }
}

@media only screen and (max-width: 360px) {
    #preview {
        bottom: 30vh;
    }
    #select {
        top: 50vh;
    }
    .logos {
        width: 7vw;
        height: 8.3vw;
        margin: 1vw 3vw -1.3vw 3vw;
    }
    .selected-logo {
        width: 8.6vw;
        height: 11vw;
    }
    #globe {
        width: 6vw;
        height: 6vw;
    }
    #globettl {
        top: 4vh;
        font-size: 3vw;
    }
    #globe-btn {
        width: 6vw;
        height: 9vw;
        left: 47.5vw;
        top: 80vh;
    }
}

@media only screen and (max-width: 320px) {
    #preview {
        bottom: 30vh;
    }
    #select {
        top: 50vh;
    }
    .logos {
        width: 7vw;
        height: 8.3vw;
        margin: 1vw 3vw -1.3vw 3vw;
    }
    .selected-logo {
        width: 8.6vw;
        height: 11vw;
    }
    #globe {
        width: 5vw;
        height: 5vw;
    }
    #globettl {
        top: 3vh;
        font-size: 2vw;
    }
    #globe-btn {
        width: 5vw;
        height: 7vw;
        left: 47.5vw;
        top: 80vh;
    }
}

@media only screen and (max-width: 270px) {
    #preview {
        bottom: 30vh;
    }
    #select {
        top: 95vw;
    }
    .logos {
        width: 7vw;
        height: 8.8vw;
        margin: 1vw 3vw -1.3vw 3vw;
    }
    .selected-logo {
        width: 8.6vw;
        height: 11vw;
    }
    #globe {
        width: 5vw;
        height: 5vw;
    }
    #globettl {
        top: 3vh;
        font-size: 2vw;
    }
    #globe-btn {
        width: 5vw;
        height: 7vw;
        left: 47.5vw;
        top: 80vh;
    }
    .sub>p {
        font-size: 2.5vw;
        width: 7.5vw;
    }
}


/* Take care of all landscape style changes */

@media only screen and (orientation: landscape) {
    #select {
        top: 0;
    }
    #preview {
        width: 65vw;
        height: 35vw;
        position: absolute;
        left: 17.5vw;
        top: 18vh;
    }
    .vid {
        width: 65vw;
        height: 35vw;
        border: 4px groove gray;
    }
    .logos {
        width: 3vw;
        height: 3.6vw;
    }
    .selected-logo {
        width: 3.5vw;
        height: 4.2vw;
    }
}