@font-face {
    font-family: Heebo;
    src: url('./assets/fonts/Heebo-VariableFont_wght.ttf');
}

body,
html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    font-family: Heebo;
}

#select {
    margin: 0;
    width: 100vw;
    height: 20vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#preview {
    width: 80vw;
    height: 70vw;
    position: absolute;
    left: 12.5vw;
    top: 15vh;
}

.vid {
    width: 75vw;
    height: 42.2vw;
    border: 2px groove gray;
}

.logos {
    width: 2.7vw;
    height: 3.6vw;
    margin: 1vw .8vw -1.3vw .8vw;
    transition: all .5s ease;
    cursor: pointer;
}

.selected-logo {
    width: 3.3vw;
    height: 4.3vw;
    filter: drop-shadow(5px 5px 20px);
}

.sub>p {
    direction: rtl;
    margin: 1vw 0 0 0;
    font-size: .8vw;
    text-align: center;
    width: 4.5vw;
    line-height: .8vw;
}

#globe-btn {
    position: absolute;
    left: 2vw;
    top: 1.5vw;
    width: 3.5vw;
    height: 5vw;
    z-index: 10;
    cursor: pointer;
}

#globe {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 3.5vw;
    height: 3.5vw;
    transition: all .3s ease;
}

#globettl {
    width: fit-content;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 3vw;
    direction: rtl;
    transition: all .3s ease;
}

#globe-btn:hover>#globe {
    filter: invert(75%);
}

#imageisrael {
    display: none;
}

#vid {
    display: block;
}