@font-face {
    font-family: Heebo;
    src: url('./assets/fonts/Heebo-VariableFont_wght.ttf');
}

body,
html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    font-family: Heebo;
}

#select {
    margin: 0;
    width: 100vw;
    height: 20vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#preview {
    width: 532px;
    height: 70vh;
    position: absolute;
    left: 12.5vw;
    bottom: 7.9vw;
}

.vid {
    width: 75vw;
    height: 42.2vw;
    border: 2px groove gray;
}

.logos {
    width: 2.7vw;
    height: 3.6vw;
    margin: 1vw .8vw -1.3vw .8vw;
    transition: all .5s ease;
    cursor: pointer;
}

.selected-logo {
    width: 3.3vw;
    height: 4.3vw;
    filter: drop-shadow(5px 5px 20px);
}

p {
    direction: rtl;
    margin: .8vw 0 0 0;
    font-size: .7vw;
    text-align: center;
    width: 4.5vw;
    line-height: .9vw;
}

#globe {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1.2vw 1.5vw;
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
    z-index: 10;
    transition: all .3s ease;
}

#globettl {
    position: absolute;
    text-align: center;
    width: 3.5vw;
    top: 4.5vw;
    margin: .8vw 1.5vw;
    transition: all .3s ease;
}

#globe:hover {
    width: 4vw;
    height: 4vw;
}

#globe:hover+#globettl {
    width: 4vw;
    top: 5vw;
}

#imageisrael {
    display: none;
}

#vid {
    display: block;
}